<% include ../partials/header.ejs %>
<div class="container">
 3.1 Form elements <
 <
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
3.2 Script to handle submit and make HTTP POST request to
 the server using AJAX <
</script>
<% include ../partials/footer.ejs %>